body{
  background-image: linear-gradient(to bottom, #1463F3, #84A4FC) ;
    
}

.center{
  margin: auto;
  margin-top: 100px;
  width: 100%;
  padding: 10px;
}   

.middle{
  margin: auto;
  margin-top: 150px;
  width: 80%;
  padding: 10px;
  font-family: "Montserrat Thin";
}

p{
    color: #1D2023;
    margin-left: 60px;
    text-align: left;
    font-size: 15px;
    font-weight:500;
}

h3{
  font-size: 30px;
  margin-left: 60px;
}

h4{
  font-size: 25px;
}

hr{
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the divider */
    background-color: black; /* Set the background color */
    margin: 20px 0;
}


#home{
        color: #1D2023;
        /* Change font family */
        font-family: "Arial";
    
        /* Change font weight */
        font-weight: bold;
        
        /* Transform text to uppercase */
        text-transform: uppercase;

        text-align: center;
        
        /* Change font size */
        font-size: 120px;
}

#title{
    color: #1D2023;
    text-align: center;
        
    /* Change font size */
    font-size: 20px;
}

/* Style the navigation bar */
.leftnav {
    background-color: #1D2023; /* Background color for the navigation bar */
    position: fixed; /* Position the navigation bar */
    top: 0; /* Align the navigation bar to the top of the viewport */
    left: 0;
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Display the items vertically */
    align-items: center; /* Align items to the end (right) of the flex container */
    height:100%;
    width:10%;
  }
  
  /* Style the navigation links */
.leftnav a {
  color: #CCD0D8; /* Text color for the links */
  text-align: center; /* Align the text to the right */
  padding: 50px 0px; /* Padding for the links (top and bottom, left and right) */
  text-decoration: none; /* Remove underline from the links */
  width: 100%;
}

/* Change the color of the links when hovered */
.leftnav a:hover {
  background-color:  #CCD0D8; /* Text color for the links */
  ; /* Background color when hovered */
  color: #1D2023;
  width: 100% /* Text color when hovered */
}

@media only screen and (max-width: 600px) {
  .leftnav {
    flex-direction: row; /* Change direction to horizontal for small screens */
    justify-content: space-between; /* Add space between items */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add padding */
    height: auto;
    left:0; /* Allow height to adjust based on content */
  }

  .leftnav a {
    text-align: center; /* Center align the text */
    padding: 10px; /* Adjust padding */
  }

  .leftnav a i {
    margin-right: 0; /* Remove margin for icons */
  }

  .progress-container {
    margin-top: 5px;
  }
}

.contact-icons {
  display: flex;
}

/* Style for each icon container */
.contact-icons > div {
  margin-right: -50px; /* Adjust spacing between icons */
}


.resume { /* Default text color */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: grey; /* Default background color */
  color: white; /* Default text color */
  margin: auto; 
  margin-top: 100px;
}

/* Change button styles on hover */
.resume:hover {
  background-color: white; /* Hover background color */
  color: black; /* Hover text color */
}

.resume a{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: inherit; /* Inherit text color from parent */
  text-decoration: none;
}

.resume i{
  font-size:30px;
  bottom:0;
}

.skill-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px;
}

/* Style for the skill label */
.skill-label {
  flex: 1; /* Grow to fill available space */
  font-size: 16px;
  margin-right: -300px; /* Add spacing between label and progress bar */
}

/* Style for the progress bar container */
.progress-container {
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 20px;
  overflow: hidden;
  flex-basis: 70%;
  flex: 2;
   /* Grow to fill available space */
}

/* Style for the progress bar */
.progress-bar {
  background-color: #808088; /* Default bar color */
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: black;
  width: 0; /* Initial width set to 0 */
  transition: width 0.5s;
   /* Add smooth transition effect */
}

.skills {
  display: flex;
}

.skill {
  text-align: left;
  flex: 1;
  margin-left: 60px; /* Add margin to the right side of each skill */
}

.skill i {
  font-size: 60px;
  margin-bottom: 10px;
  margin-right: 20px;
}



